<div class="page">
  <header class="page__header">
    <h1>Weather Now</h1>
  </header>
  <section class="page__container">
    <div class="grid-container">
      <div>
        <lib-card
          title="Nuuk, GL"
          [loading]="nuuk$?.loading"
          [temperature]="nuuk$?.data?.temp"
        >
          <p>Updated at {{ getFormatedTime(nuuk$.data.updated_at) }} </p>
        </lib-card>
      </div>
      <div>
        <lib-card
          title="Urubici, BR"
          [loading]="urubici$?.loading"
          [temperature]="urubici$?.data?.temp"
        >
          <div>
            <lib-data-label
              [data]="urubici$?.data?.humidity + '%'"
              label="Humidity">
            </lib-data-label>
            <lib-data-label
              [data]="urubici$?.data?.pressure + 'hPa'"
              label="Pressure">
            </lib-data-label>
          </div>
          <p>Updated at {{ getFormatedTime(urubici$.data.updated_at) }} </p>
        </lib-card>
      </div>
      <div>
        <lib-card
          title="Nairobi, KE"
          [loading]="nairobi$?.loading"
          [temperature]="nairobi$?.data?.temp"
        >
          <p>Updated at {{ getFormatedTime(nairobi$.data.updated_at) }} </p>
        </lib-card>
      </div>
    </div>
  </section>
</div>
